<div class="div-main">
<div
    fxLayout="row wrap"
    class="animated fadeIn">
  <div fxFlex *ngFor="let producto of productos">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ producto.marca }}</mat-card-subtitle>
      </mat-card-header>
      <img class="imagee" mat-card-image [src]="producto.qr" alt="cemento">
      <mat-card-content>
        <p>Precio: S/. {{ producto.precio }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Ver Producto</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

</div>
