<div class="main-div" fxFlexAlign="center center">
<div
    fxLayout="row wrap"
    class="animated fadeIn">
  <div fxFlex *ngFor="let producto of productos">
    <mat-card class="producto-card">
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ producto.marca }}</mat-card-subtitle>
      </mat-card-header>
      <img class="imagen" mat-card-image [src]="producto.qr" [alt]="producto.nombre">
      <mat-card-content>
        <p>Precio: {{ producto.precio | currency:'S/.' }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="verProducto(producto.id)">Ver Producto</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

</div>
