mat-form-field {
  width: 70%;
}

.formulario {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.ex-form {
  width: 80%;
  margin-bottom: 20px;
}

.div-editar {
  margin: 20px;
  margin-bottom: 5px;
}
