<div>
  <button mat-raised-button color="primary" *ngIf="!scanActivado && !resultadoScan" (click)="iniciarScan()">
    Iniciar Scan
  </button>

  <video #video [hidden]="!scanActivado" width="50%"></video>
  <canvas #canvas hidden></canvas>
  <button mat-raised-button color="accent" (click)="detenerScan()" *ngIf="scanActivado">
    Detener Scan
  </button>

  <mat-card *ngIf="resultadoScan">
    <mat-card-header>
      <mat-card-title>Resultado QR:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <a [href]="resultadoScan">{{ resultadoScan }}</a>
    </mat-card-content>

    <button mat-raised-button color="warn" (click)="resetear()" *ngIf="resultadoScan">
      Resetear Scan
    </button>
  </mat-card>

</div>
