<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">
      <mat-icon>business</mat-icon>Menu
    </mat-toolbar>
    <mat-nav-list class="lista">
      <a mat-list-item [routerLink]="['inventario']"><mat-icon>view_agenda</mat-icon> <p>Inventario</p></a>
      <a mat-list-item [routerLink]="['productos']"><mat-icon>storefront</mat-icon> <p>Productos</p></a>
      <!-- <a mat-list-item [routerLink]="['reportes']"><mat-icon>analytics</mat-icon> <p>Reportes</p></a>
      <a mat-list-item [routerLink]="['ayuda']"><mat-icon>help</mat-icon> <p>Ayuda</p></a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Chequear presentación -->
      <a mat-button [routerLink]="['home']">
        <span class="inventario">Sistema Logístico-QR</span>
      </a>

      <span class="spacer"></span>
      <!-- <a mat-button (click)="iniciarSesion()">Iniciar Sesión</a> -->
      <a mat-button (click)="cerrarSesion()">Cerrar Sesión</a>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
