.sidenav-container {
  height: 100%;
  /* background: #e6ee9c; */
}

.lista {
  background: #2e312e;
}

p {
  color: white;
  text-align: center;
}

.sidenav {
  width: 150px;
  background: #2e312e;
}

.inventario {
  font-size: 20px;
}
/*
.sidenav .mat-nav-list {
  background: black;
}
*/
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

/*
mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}*/
