<div class="princ">

      <mat-card>
        <mat-card-title>Nuevo Producto</mat-card-title>
        <mat-divider></mat-divider>
        <div
          fxLayout="row wrap"
          class="animated fadeIn">
          <div fxFlex class="div-qr">
            <mat-card-content>

              <form class="formulario" [formGroup]="registroForm">
                <mat-form-field class="ex-form">
                  <mat-label>Nombre del producto:</mat-label>
                  <input matInput name="qr-nombre" formControlName="nombre" required placeholder="Tanque de agua">
                </mat-form-field>

                <mat-form-field class="ex-form">
                  <mat-label>Marca:</mat-label>
                  <input matInput name="qr-marca" formControlName="marca" placeholder="Eternit">
                </mat-form-field>

                <mat-form-field class="ex-form">
                  <mat-label>Stock:</mat-label>
                  <input matInput name="qr-stock" formControlName="stock" required type="number" placeholder="20" >
                </mat-form-field>

                <mat-form-field class="ex-form">
                  <mat-label>Precio:</mat-label>
                  <input matInput name="qr-precio" formControlName="precio" required type="number" placeholder="120" >
                </mat-form-field>

                <mat-card-actions fxLayoutAlign="center">
                  <button mat-raised-button color="primary" [disabled]="!registroForm.valid" (click)="registrarDatos()">Registar</button>
                  <button mat-raised-button color="warn" (click)="limpiar()">Limpiar</button>
                  <button mat-raised-button color="primary" [disabled]="!registroForm.valid" (click)="generarQR()">Generar</button>
                </mat-card-actions>
              </form>

            </mat-card-content>
          </div>

          <!-- Para mostrar el código QR del articulo creado -->
          <div fxFlex class="div-qr">

            <mat-card-content *ngIf="qrGenerado">
              <span fxLayoutAlign="start">Código QR: </span>
              <!-- Se muestra el QR generado, su valor es la URL con el id del producto -->
              <qrcode name="qrr" fxLayoutAlign="center" [qrdata]="qrGenerado" [width]="256"></qrcode>
              <button mat-raised-button color="primary" (click)="guardarProducto()">Guardar QR</button>
            </mat-card-content>

          </div>

        </div>

      </mat-card>

</div>
