.producto-card {
  min-width: 100px;
  max-width: 360px;
  margin: 5px;
}

.main-div {
  width: 98%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.imagen {
  max-height: 350px;
}


/* .div-container {
  height: 400px;
  width: 320px;
  overflow: auto;
}

table {
  width: 250px;
}

/* td.mat-column-star {
  width: 10px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
} */

/*.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
} */

table {
  width: 100%;
}

.div-container {
  max-height: auto;
  max-width: 900px;
  min-width: 250px;
  overflow: auto;
}
